/* // Small devices (landscape phones, 576px and up) */
.svg1{
    width: 360 !important;
    height: 360 !important;
}  
.svg2{
    width: 360 !important;
    height: 360 !important;
}  

@media (max-width: 576px) 
{
    .svg1{
        width: 100%;
        height: 100%;
    }  
    .svg2{
        width: 100%;
        height: 100%;
    }  
}

/* // Medium devices (tablets, 768px and up) */
 @media (min-width: 576px) and (max-width: 768px)
 {
	
 }

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

 /* // Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1400px) {

  }
  /* @media screen and (min-width: 1600px) {
	.container {
	  width: 1570px;
	}
  }
  @media screen and (min-width: 1900px) {
	.container {
	  width: 1870px;
	}
  } */
@media (min-width: 1900px)
{
}
