@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
.cards {
  position: relative;
  list-style-type: none;
  padding: 0;
  max-width: 60vw;
  margin: 10% auto 0;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ccc;
  border-radius: 30px;
  padding: 40px;
  transform: translateY(0) rotate(4deg) translateX(25px) scale(1);
  transform-origin: 0 0;
}
.card :last-child {
  margin-bottom: 0;
}
.card--next {
  z-index: 5;
  transform: translateY(-25px) rotate(4deg) translateX(25px) scale(1);
  background: #E5BAFF;
  height: 100%;
  width: 60vw;

}
.card--out {
  -webkit-animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
          animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateY(-50px) rotate(8deg) translateX(55px) scale(1);
  z-index: 1;
  background: #F4E6FF;
  height: 100%;
  width: 60vw;

}
.loginform {
  /* padding-left: 200px; */
  font-family: 'Work Sans', sans-serif;
}



.card--current {
  position: relative;
  z-index: 10;
  opacity: 1;
  background: #F7EBFF;
  transform: rotate(0deg) translateX(0%) scale(1);
  box-shadow: 0 0 2px #000;
  width: 60vw;
}
h1.heading {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #AD00FF;
}
h1.title{
  color: #000;
  font-family: 'Work Sans', sans-serif;
}

/* Forms */
.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  background: #E5BAFF;

}
input{
  background: rgb(244, 230, 255,0.5) !important;
}
label{
  color: #cfcfcf;
}
.svg-img{
  width: 100%!important;
}
.imgcol {
  justify-content: center;
}

/* Responsiveness */
/* Responsive Media Queries */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) 
{
  .cards {
    max-width: 95vw !important;
    margin-right:auto;
    margin-left:auto;
  }
	.loginform {
    padding-left: 0px;
  }  
  .card--next {
    max-width: 95vw !important;  
    transform: translateY(-25px) rotate(2deg) translateX(25px) scale(1);
  }
  .card--out {
    max-width: 95vw !important;
    transform: translateY(-50px) rotate(4deg) translateX(55px) scale(1);
  }
  
}

/* // Medium devices (tablets, 768px and up) */
 @media (min-width: 576px) and (max-width: 768px)
 {
	.loginform {
    padding-left: 0px;
  }      
  .card--next {
    z-index: 5;
    transform: translateY(-25px) rotate(4deg) translateX(55px) scale(1);
    background: #E5BAFF;
  
  }
  .card--out {
    -webkit-animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
            animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
    transform: translateY(-50px) rotate(8deg) translateX(75px) scale(1);
    z-index: 1;
    background: #F4E6FF;
  }
  
  
  
  .card--current {
    position: relative;
    z-index: 10;
    opacity: 1;
    background: #F7EBFF;
    transform: rotate(0deg) translateX(0%) scale(1);
    box-shadow: 0 0 2px #000;
  }
 }

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

 /* // Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1400px) {

  }
  /* @media screen and (min-width: 1600px) {
	.container {
	  width: 1570px;
	}
  }
  @media screen and (min-width: 1900px) {
	.container {
	  width: 1870px;
	}
  } */
@media (min-width: 1900px)
{
}
